<?xml version="1.0" encoding="utf-8"?>
<manifest
    android:installLocation="auto"
    android:compileSdkVersion="36"
    android:compileSdkVersionCodename="16"
    package="ru.oneme.app"
    platformBuildVersionCode="36"
    platformBuildVersionName="16"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission
        android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission
        android:name="com.sec.android.provider.badge.permission.READ" />
    <uses-permission
        android:name="com.sec.android.provider.badge.permission.WRITE" />
    <uses-permission
        android:name="android.permission.READ_APP_BADGE" />
    <uses-permission
        android:name="me.everything.badger.permission.BADGE_COUNT_READ" />
    <uses-permission
        android:name="me.everything.badger.permission.BADGE_COUNT_WRITE" />
    <uses-permission
        android:name="android.permission.VIBRATE" />
    <queries>
        <intent>
            <action
                android:name="android.intent.action.SEND" />
            <data
                android:mimeType="*/*" />
        </intent>
        <intent>
            <action
                android:name="android.support.customtabs.action.CustomTabsService" />
        </intent>
        <intent>
            <action
                android:name="android.intent.action.VIEW" />
            <category
                android:name="android.intent.category.BROWSABLE" />
            <data
                android:scheme="https" />
        </intent>
        <package
            android:name="com.google.android.apps.maps" />
    </queries>
    <uses-permission
        android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission
        android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission
        android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission
        android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission
        android:name="android.permission.READ_CONTACTS" />
    <uses-permission
        android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission
        android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission
        android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission
        android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission
        android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission
        android:name="android.permission.RECORD_AUDIO" />
    <uses-permission
        android:name="android.permission.WAKE_LOCK" />
    <uses-permission
        android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission
        android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission
        android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission
        android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.network"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.screen.landscape"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.screen.portrait"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="false" />
    <supports-screens
        android:anyDensity="true"
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:resizeable="true" />
    <permission
        android:name="ru.oneme.app.permission.settings.READ"
        android:protectionLevel="signature" />
    <uses-permission
        android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED" />
    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" />
    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />
    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE_CAMERA" />
    <uses-feature
        android:glEsVersion="0x20000"
        android:required="true" />
    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission
        android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission
        android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission
        android:name="android.permission.CHANGE_NETWORK_STATE" />
    <permission
        android:name="ru.oneme.app.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"
        android:protectionLevel="signature" />
    <uses-permission
        android:name="ru.oneme.app.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION" />
    <application
        android:theme="@style/OneMe.Launch"
        android:label="@string/oneme_app_name"
        android:icon="@mipmap/ic_launcher"
        android:name="one.me.android.OneMeApplication"
        android:debuggable="false"
        android:allowBackup="false"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:enableOnBackInvokedCallback="true">
        <activity
            android:name="one.me.android.concurrent.SingleCoreActivity"
            android:enabled="false" />
        <activity
            android:theme="@style/OneMe.Theme.Light"
            android:label="@string/oneme_app_name"
            android:icon="@mipmap/ic_launcher"
            android:name="one.me.android.MainActivity"
            android:exported="true"
            android:taskAffinity="one.me.application"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:configChanges="locale|screenLayout|screenSize|smallestScreenSize|uiMode"
            android:hardwareAccelerated="true"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN" />
                <category
                    android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action
                    android:name="android.intent.action.SEND" />
                <category
                    android:name="android.intent.category.DEFAULT" />
                <data
                    android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <action
                    android:name="android.intent.action.SEND_MULTIPLE" />
                <category
                    android:name="android.intent.category.DEFAULT" />
                <data
                    android:mimeType="*/*" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:theme="@style/OneMe.Theme.Light"
            android:label="@string/oneme_app_name"
            android:icon="@mipmap/ic_launcher"
            android:name="one.me.android.deeplink.NewWidgetActivity"
            android:exported="false"
            android:taskAffinity="one.me.application"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:configChanges="locale|uiMode"
            android:hardwareAccelerated="true" />
        <activity
            android:theme="@style/OneMe.Theme.Transparent"
            android:label=""
            android:name="one.me.android.deeplink.LinkInterceptorActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:launchMode="singleTop"
            android:configChanges="orientation"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter
                android:label="max"
                android:autoVerify="true">
                <action
                    android:name="android.intent.action.VIEW" />
                <category
                    android:name="android.intent.category.DEFAULT" />
                <category
                    android:name="android.intent.category.BROWSABLE" />
                <data
                    android:pathPattern="/..*" />
                <data
                    android:scheme="http" />
                <data
                    android:scheme="https" />
                <data
                    android:host="@string/app_host" />
            </intent-filter>
            <intent-filter
                android:label="max">
                <action
                    android:name="android.intent.action.VIEW" />
                <category
                    android:name="android.intent.category.DEFAULT" />
                <category
                    android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="max" />
                <data
                    android:host="@string/app_host" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:exported="false"
            android:authorities="ru.oneme.app.androidx-startup">
            <meta-data
                android:name="androidx.lifecycle.ProcessLifecycleInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="androidx.profileinstaller.ProfileInstallerInitializer"
                android:value="androidx.startup" />
        </provider>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:authorities="ru.oneme.app.provider"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <provider
            android:name="com.google.firebase.provider.FirebaseInitProvider"
            android:enabled="false"
            android:exported="false"
            android:authorities="ru.oneme.app.firebaseinitprovider"
            android:initOrder="100"
            android:directBootAware="true" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDJbuC3fODS_aR7jcOkoP6qWIsQen9XARI" />
        <receiver
            android:name="one.me.android.calls.CallNotifierBroadcastReceiver" />
        <activity
            android:theme="@style/CallNotifierFixActivityTheme"
            android:name="one.me.android.calls.CallNotifierFixActivity"
            android:showOnLockScreen="true"
            android:turnScreenOn="true" />
        <service
            android:name="ru.ok.tamtam.android.services.NotificationTamService" />
        <activity
            android:theme="@style/Theme.Transparent.WhiteMenuOverflow"
            android:name="ru.ok.messages.media.attaches.ActAttachesView"
            android:exported="false"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:theme="@style/Theme.Transparent"
            android:name="ru.ok.messages.contacts.profile.ActContactAvatars"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:theme="@style/Theme.Transparent.WhiteMenuOverflow.NoCaps"
            android:name="ru.ok.messages.media.mediabar.ActLocalMedias"
            android:exported="false"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustResize|stateUnchanged" />
        <activity
            android:theme="@style/Theme.Transparent.WhiteMenuOverflow"
            android:name="ru.ok.messages.views.ActProfilePhoto"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:theme="@style/TamTamTheme.Base"
            android:name="ru.ok.messages.views.ActAvatarCrop"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:theme="@style/Theme.Transparent"
            android:name="ru.ok.messages.settings.ActSettings"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:theme="@style/TamTamTheme.Base"
            android:name="ru.ok.messages.media.crop.ActTamCropImage"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:theme="@style/TamTamTheme.Base"
            android:name="ru.ok.messages.media.trim.ActTrimVideo"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:theme="@style/TamTamTheme.Base"
            android:name="ru.ok.messages.location.ActLocationMap"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:theme="@style/TamTamTheme.Base"
            android:name="ru.ok.messages.photoeditor.ActPhotoEditor"
            android:exported="false"
            android:screenOrientation="portrait" />
        <receiver
            android:name="ru.ok.tamtam.android.services.BootCompletedReceiver"
            android:exported="true">
            <intent-filter>
                <action
                    android:name="android.intent.action.BOOT_COMPLETED" />
                <action
                    android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action
                    android:name="com.htc.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="ru.ok.messages.TimeChangeReceiver" />
        <provider
            android:name="ru.ok.messages.NotificationsImagesProvider"
            android:exported="false"
            android:authorities="ru.oneme.app.notifications"
            android:grantUriPermissions="true" />
        <service
            android:name="androidx.work.impl.foreground.SystemForegroundService"
            android:enabled="@bool/enable_system_foreground_service_default"
            android:exported="false"
            android:directBootAware="false"
            android:foregroundServiceType="camera|dataSync|location|mediaPlayback|microphone" />
        <meta-data
            android:name="android.max_aspect"
            android:value="2.5" />
        <meta-data
            android:name="fontProviderRequests"
            android:value="Noto Color Emoji Compat" />
        <service
            android:name="one.me.calls.impl.service.CallServiceImpl"
            android:exported="false"
            android:foregroundServiceType="camera|mediaPlayback|mediaProjection|microphone" />
        <service
            android:name="one.me.sdk.vendor.push.FcmMessagingService"
            android:exported="false">
            <intent-filter>
                <action
                    android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name="ru.ok.tamtam.android.calls.MediaProjectionService"
            android:exported="false"
            android:foregroundServiceType="mediaProjection" />
        <service
            android:name="androidx.camera.core.impl.MetadataHolderService"
            android:enabled="false"
            android:exported="false">
            <meta-data
                android:name="androidx.camera.core.impl.MetadataHolderService.DEFAULT_CONFIG_PROVIDER"
                android:value="androidx.camera.camera2.Camera2Config$DefaultProvider" />
        </service>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.google.android.gms.auth.api.signin.internal.SignInHubActivity"
            android:exported="false"
            android:excludeFromRecents="true" />
        <service
            android:name="com.google.android.gms.auth.api.signin.RevocationBoundService"
            android:permission="com.google.android.gms.auth.api.signin.permission.REVOCATION_NOTIFICATION"
            android:exported="true"
            android:visibleToInstantApps="true" />
        <receiver
            android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver"
            android:permission="com.google.android.c2dm.permission.SEND"
            android:exported="true">
            <intent-filter>
                <action
                    android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
            <meta-data
                android:name="com.google.android.gms.cloudmessaging.FINISHED_AFTER_HANDLED"
                android:value="true" />
        </receiver>
        <service
            android:name="com.google.firebase.messaging.FirebaseMessagingService"
            android:exported="false"
            android:directBootAware="true">
            <intent-filter
                android:priority="-500">
                <action
                    android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name="com.google.firebase.components.ComponentDiscoveryService"
            android:exported="false"
            android:directBootAware="true">
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.messaging.FirebaseMessagingKtxRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.messaging.FirebaseMessagingRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsKtxRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.ktx.FirebaseCommonLegacyRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.FirebaseCommonKtxRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.datatransport.TransportRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
        </service>
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.google.android.gms.common.api.GoogleApiActivity"
            android:exported="false" />
        <service
            android:name="one.me.android.media.service.OneMeMediaSessionService"
            android:exported="true"
            android:foregroundServiceType="mediaPlayback">
            <intent-filter>
                <action
                    android:name="androidx.media3.session.MediaSessionService" />
            </intent-filter>
        </service>
        <service
            android:name="one.me.android.media.service.OneMeDownloadService"
            android:exported="false"
            android:foregroundServiceType="dataSync">
            <intent-filter>
                <action
                    android:name="androidx.media3.exoplayer.downloadService.action.RESTART" />
                <category
                    android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <service
            android:name="androidx.work.impl.background.systemalarm.SystemAlarmService"
            android:enabled="@bool/enable_system_alarm_service_default"
            android:exported="false"
            android:directBootAware="false" />
        <service
            android:name="androidx.work.impl.background.systemjob.SystemJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:enabled="@bool/enable_system_job_service_default"
            android:exported="true"
            android:directBootAware="false" />
        <receiver
            android:name="androidx.work.impl.utils.ForceStopRunnable$BroadcastReceiver"
            android:enabled="true"
            android:exported="false"
            android:directBootAware="false" />
        <receiver
            android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$BatteryChargingProxy"
            android:enabled="false"
            android:exported="false"
            android:directBootAware="false">
            <intent-filter>
                <action
                    android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action
                    android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$BatteryNotLowProxy"
            android:enabled="false"
            android:exported="false"
            android:directBootAware="false">
            <intent-filter>
                <action
                    android:name="android.intent.action.BATTERY_OKAY" />
                <action
                    android:name="android.intent.action.BATTERY_LOW" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$StorageNotLowProxy"
            android:enabled="false"
            android:exported="false"
            android:directBootAware="false">
            <intent-filter>
                <action
                    android:name="android.intent.action.DEVICE_STORAGE_LOW" />
                <action
                    android:name="android.intent.action.DEVICE_STORAGE_OK" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$NetworkStateProxy"
            android:enabled="false"
            android:exported="false"
            android:directBootAware="false">
            <intent-filter>
                <action
                    android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="androidx.work.impl.background.systemalarm.RescheduleReceiver"
            android:enabled="false"
            android:exported="false"
            android:directBootAware="false">
            <intent-filter>
                <action
                    android:name="android.intent.action.BOOT_COMPLETED" />
                <action
                    android:name="android.intent.action.TIME_SET" />
                <action
                    android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="androidx.work.impl.background.systemalarm.ConstraintProxyUpdateReceiver"
            android:enabled="@bool/enable_system_alarm_service_default"
            android:exported="false"
            android:directBootAware="false">
            <intent-filter>
                <action
                    android:name="androidx.work.impl.background.systemalarm.UpdateProxies" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="androidx.work.impl.diagnostics.DiagnosticsReceiver"
            android:permission="android.permission.DUMP"
            android:enabled="true"
            android:exported="true"
            android:directBootAware="false">
            <intent-filter>
                <action
                    android:name="androidx.work.diagnostics.REQUEST_DIAGNOSTICS" />
            </intent-filter>
        </receiver>
        <uses-library
            android:name="androidx.window.extensions"
            android:required="false" />
        <uses-library
            android:name="androidx.window.sidecar"
            android:required="false" />
        <service
            android:name="androidx.room.MultiInstanceInvalidationService"
            android:exported="false"
            android:directBootAware="true" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <provider
            android:name="ru.ok.android.commons.app.ApplicationProvider"
            android:exported="false"
            android:authorities="ru.oneme.app.ApplicationProvider" />
        <receiver
            android:name="androidx.profileinstaller.ProfileInstallReceiver"
            android:permission="android.permission.DUMP"
            android:enabled="true"
            android:exported="true"
            android:directBootAware="false">
            <intent-filter>
                <action
                    android:name="androidx.profileinstaller.action.INSTALL_PROFILE" />
            </intent-filter>
            <intent-filter>
                <action
                    android:name="androidx.profileinstaller.action.SKIP_FILE" />
            </intent-filter>
            <intent-filter>
                <action
                    android:name="androidx.profileinstaller.action.SAVE_PROFILE" />
            </intent-filter>
            <intent-filter>
                <action
                    android:name="androidx.profileinstaller.action.BENCHMARK_OPERATION" />
            </intent-filter>
        </receiver>
        <service
            android:name="com.google.android.datatransport.runtime.backends.TransportBackendDiscovery"
            android:exported="false">
            <meta-data
                android:name="backend:com.google.android.datatransport.cct.CctBackendFactory"
                android:value="cct" />
        </service>
        <service
            android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.JobInfoSchedulerService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false" />
        <receiver
            android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.AlarmManagerSchedulerBroadcastReceiver"
            android:exported="false" />
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.jakewharton.processphoenix.ProcessPhoenix"
            android:process=":phoenix" />
        <meta-data
            android:name="com.facebook.soloader.enabled"
            android:value="false" />
        <activity
            android:theme="@style/Theme.PlayCore.Transparent"
            android:name="com.google.android.play.core.common.PlayCoreDialogWrapperActivity"
            android:exported="false"
            android:stateNotNeeded="true" />
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false" />
        <meta-data
            android:name="firebase_crash_collection_enabled"
            android:value="false" />
        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="false" />
        <meta-data
            android:name="firebase_data_collection_default_enabled"
            android:value="false" />
        <meta-data
            android:name="firebase_analytics_collection_deactivated"
            android:value="true" />
        <meta-data
            android:name="google_analytics_adid_collection_enabled"
            android:value="false" />
        <meta-data
            android:name="google_analytics_ssaid_collection_enabled"
            android:value="false" />
        <meta-data
            android:name="google_analytics_default_allow_ad_personalization_signals"
            android:value="false" />
    </application>
</manifest>
